@import "src/global";

@-webkit-keyframes 'slide' {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}


ion-grid {
  display: block;
  vertical-align: middle;
}

ion-title {
  font-family: Fira Sans Condensed;
  font-size: 25px;
}

.curved {
  background: #253031;
  color: white;
  text-align: center;
  margin-top: 0;
}

.curved.first {
  height: 33%;
  position: relative;
  background: url("../../assets/Backgrounds/GamePic.png");
  background-position-x: 0%;
  -webkit-animation: 'slide' 60s infinite linear forwards;
}

.curved.sec {
  height: 33%;
  position: relative;
  background: url("../../assets/Backgrounds/GamePic2.png");
  background-position-x: 0%;
  filter: opacity(0.6);
  -webkit-animation: 'slide' 100s infinite linear forwards;
}

.curved.third {
  height: 33%;
  position: relative;
  background: url("../../assets/Backgrounds/GamePic3.png");
  background-position-x: 0%;
  filter: opacity(0.6);
  -webkit-animation: 'slide' 100s infinite linear forwards;
}


.curved:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 15px solid #253031;
  border-left: 32px solid white;
  border-right: 32px solid white;
  width: 100%;
}

.curved:hover:before {
  left: -50%;
  transform: skewX(-5deg);
}

.top {
  margin-top: 5%;
}

.curved h1 {
  margin-top: 20%;
}

.curved p {
  margin: 0 5rem 0 5rem;
}
.start-game {
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.59);
  border-radius: 50%;
}

.header {
  font-family: Oswald;
  font-size: 25px;
}

.text {
  font-family: Dosis;
  font-size: 13px;
}

.ion-toolbar {
  border-radius: 20px !important;
}
