p {
  font-family: Dosis;
}

ion-title {
  font-family: "Fira Sans Condensed";
  font-size: 25px;
}

ion-grid {
  background-image: url("../../assets/Backgrounds/TreesBg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100%;
}
